.ButtonBar {
  display: block;
  height: 24px;
  margin: 12px 30px 0;

  .fl {
    float: left;
    margin-right: 5px;
  }

  .fr {
    float: right;
    margin-left: 5px;
  }
}

.CommentBox {
  padding: 26px 30px 36px;
}

.Comments {
  margin: 0 30px 0 0;
  padding: 46px 0 46px 14px;
  border-top: 1px solid #e6e6e6;
}
