.Button {
  display: block;
  padding: 0 15px;
  margin: 0;
  height: 24px;
  background: #363636;
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
  border: none;
  outline: none;
  font-size: 12px;
  line-height: 22px;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;

  * {
    vertical-align: middle;
  }

  &:hover {
    background: lighten(#363636, 10%);
  }

  > :global(.mdi) {
    position: absolute;
    color: #fff;
    left: 0;
    top: 0;

    & + span {
      margin-left: 7px;
    }
  }

  &.danger {
    background: #ea445b;

    &:hover {
      background: lighten(#ea445b, 10%);
    }
  }

  &.clear {
    color: #323a45;
    background: transparent;
    font-weight: 400;
    border-radius: 0;

    > :global(.mdi) {
      color: #d5d5d5;
    }

    &:hover {
      box-shadow: 0 1px 0 #d5d5d5;
    }
  }

  &.clear-blue {
    color: #323a45;
    background: transparent;
    font-weight: 400;
    border-radius: 0;

    > :global(.mdi) {
      color: #28b7d7;
    }

    &:hover {
      box-shadow: 0 1px 0 #28b7d7;
    }
  }
}
