.YTEmbed {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
	margin: 30px 30px 0;
}

.YTEmbed iframe, .YTEmbed object, .YTEmbed embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
