.CommentBox {
  display: block;
  width: 100%;

  input {
    display: block;
    width: 100%;
    height: 56px;
    border-radius: 3px;
    border: 2px solid #efefed;
    outline: none;
    padding: 0 15px;
  }
}
