.Form {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    display: block;
    width: 300px;
    height: 65px;
    outline: none;
    box-shadow: none;
    border: 1px solid #28b7d7;
    border-radius: 3px 0 0 3px;
    margin: 0;
    padding: 0 15px;
    line-height: 65px;
    transition: opacity .3s ease, width .3s ease;
  }

  button {
    width: 65px;
    height: 65px;
    outline: none;
    box-shadow: none;
    border: none;
    background: #28b7d7;
    border-radius: 0 3px 3px 0;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 600;
    transition: border-radius .3s ease, background .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.busy {
    input {
      opacity: 0;
      width: 0;
    }

    button {
      border-radius: 50%;
      background: transparent;
    }
  }
}
