.ButtonBar {
  display: block;
  height: 24px;
  margin: 12px 0;

  .fl {
    float: left;
    margin-right: 5px;
  }

  .fr {
    float: right;
    margin-left: 5px;
  }
}

.Content {
  border-left: 6px solid #e6e6e6;
  padding: 21px 0 0 24px;
  border-bottom: 1px solid transparent;

  p {
    margin: 0;
    padding: 0;
  }
}

.CommentBox {
  padding: 10px 0 4px 24px;
  border-left: 6px solid #c6c6c6;
  border-top: 1px solid #e6e6e6;
}

.Profile {
  padding: 6px 0 0 68px;
  position: relative;
  height: 50px;
  margin-bottom: 20px;

  .Name {
    font-family: 'Merriweather', serif;
    font-weight: 600;
    color: #28b7d7;
    text-decoration: none;
    font-size: 16px;
  }

  .DateTime {
    font-size: 10px;
    font-weight: 600;
    color: #b5b5b5;
    text-transform: uppercase;
    margin-top: 5px;
  }

  .Avatar {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.Comment {
  & ~ .Comment {
    margin-top: 24px;
  }

  .Comment {
    margin-left: 15px;
    margin-top: 0;
    background: #fafafa;

    & ~ .Comment {
      border-top: 1px solid #f0f0f0;
    }
  }

  .Comment .Content {
    padding-top: 5px;
    padding-left: 45px;
  }

  .Comment .Profile {
    padding: 6px 0 0 45px;
    margin-bottom: 0;
    border-left: 6px solid #e6e6e6;

    .Name {
      font-weight: 600;
      font-size: 12px;
    }

    .Avatar {
      width: 25px;
      height: 25px;
      top: 10px;
      left: 10px;
    }
  }
}
