@import url('https://fonts.googleapis.com/css?family=Merriweather|PT+Sans');

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  
  * {
    font-family: inherit;
    box-sizing: inherit;
  }
}
