.Overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Popup {
  border-radius: 3px;
  background-color: #fff;
  width: 100%;
  max-width: 640px;
  height: auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;

  .ScrollContainer {
    overflow: auto;
    width: 100%;
    max-height: 95vh;
  }
}

.Close {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #fff;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: -11px;
  top: -11px;
  border: 1px solid #cacaca;
  color: #dc6363;
  font-weight: bold;
  line-height: 22px;
  outline: none;
  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}
